@model List<Employee_Records_Management_MVC.Models.EmployeeProfiles>

@{
    ViewData["Title"] = "Index";
    int sno = 1;
}
<header>
    <div>
        <p>
            <a href="/EmployeeMVC/Logout" class="btn btn-danger" id="logoutButton">Logout</a>
        </p>
    </div>
</header>
<h1>Employee Profiles</h1>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" ></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<style>
    p{
        text-align:right;
    }
    
    .multi-line-address {
        white-space: pre-wrap; 
        max-height: 80px; 
        overflow-y: auto; 
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        text-align: center;
    }

    .btn btn-danger{
        padding: 1px 4px;
        cursor: pointer;
        border-radius: 19px
    }
    .btn-primary {
        background-color: #009bff;
        color: #fff;
        border: none;
        padding: 1px 4px;
        cursor: pointer;
        border-radius: 19px;
    }

    label.error {
        font-weight: 700;
        display: block;
        color: indianred;
        font-size: 18px;
    }
</style>
<body>
    <div>
        <p>
            <a href="/EmployeeMVC/Create" class="btn btn-primary">Add Employee</a>
        </p>
        <table id="employeeTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        S.No
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Date Of Birth
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Address
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.Raw(sno)
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.FirstName) || !string.IsNullOrEmpty(item.LastName))
                            {
                                @($"{item.FirstName} {item.LastName}")
                            }
                        </td>
                        @if (!string.IsNullOrEmpty(item.EmailAddress))
                        {
                            <td>@item.EmailAddress</td>
                        }
                        @if (!string.IsNullOrEmpty(item.Gender))
                        {
                            <td>@item.Gender</td>
                        }
                        @if (item.DateOfBirth != DateTime.MinValue)
                        {
                            <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                        }
                        <td>
                            @item.DepartmentName
                        </td>
                        @if (!string.IsNullOrEmpty(item.PhoneNumber))
                        {
                            <td>@item.PhoneNumber</td>
                        }

                        @if (!string.IsNullOrEmpty(item.Address))
                        {
                            <td class="multi-line-address">
                                @item.Address
                             </td>
                        }
                        <td>
                            <a href="/EmployeeMVC/Edit?id=@item.EmployeeID" class="btn btn-primary">Edit</a>                            
                            <a href="/EmployeeMVC/Delete?id=@item.EmployeeID" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                    sno++;
                }
            </tbody>
        </table>

    </div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        $('#employeeTable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [-1] }, 
                { "orderable": false, "targets": [6, 7] } 
            ]
        });
        $('#logoutButton').click(function (e) {
            e.preventDefault(); // Prevent the default link behavior
            toastr.success("You have been logged out.");

            // Store the logout URL in a variable
            var logoutUrl = $(this).attr('href');

            setTimeout(function () {
                window.location.href = logoutUrl;
            }, 2000);
        });
    });

</script>